
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  

  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  

  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  

  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     margin-bottom: 20px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
     
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  .list-group {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    margin-bottom: 0;
    padding-right: 10rem;
  }



