<nav class="navbar navbar-icon-top grey lighten-4 navbar-expand-lg fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img class="brandimg" src="../../../assets/images/swash.png" alt="SevenTechnology">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon pt-1"><i class="fa fa-navicon"></i></span>
  </button>
  <div class="collapse navbar-collapse grey lighten-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  ml-2 mr-2">
        <a class="nav-link nav-text" routerLink="/shop"><strong>Shop</strong></a>
      </li>
    </ul>
  </div>
  <button type="button" class="btn peach-gradient btn-md" data-toggle="modal"
    data-target="#basicExampleModal" (click) = "getcartTotal()">Cart</button>
  <span class="counter counter-md">{{total$ | async }}</span> 
</nav>